<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head'); %>
  <style>
	body {
	background: url('/images/library.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
 	 }
  </style>
</head>
<body>

	<header>
	<%- include('./partials/header'); %>
	</header>

	<main class="container">
		<div class="jumbotron mt-4">
		<h1 class="display-1 text-white">Book Catalog</h1>
		<p class="display-3 text-white-50">Catàleg de llibres de l'institut Vidal i Barraquer.</p>		
		</div>
	</main>

	<footer>
	<%- include('./partials/footer'); %>
	</footer>

</body>
</html>