<!DOCTYPE html>
<html lang="en">
<head>
    <title>Library Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://www.markuptag.com/bootstrap/5/css/bootstrap.min.css">
    <style>
        .imagebg {
        background: url('/images/register.jpg') no-repeat center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
          }
      </style>
</head>
<body>
    <header>
        <%- include('../partials/header'); %>
    </header>
    <div class="container">        
        <div class="row">
            <div class="col p-5 imagebg mt-4 p-4">
				<h1 class="display-6">
					<strong>Register</strong>
				</h1>
				
			</div>
            <div class="col">
                <div class="login-form bg-light mt-4 p-4">

                    <form method="POST" action="/auth/register" class="row g-3">
                                               
                        <div class="col-12">
                             <label for="fullname">Fullname</label>
                             <input type="text" name="fullname" value="<%= user.fullname %>" class="form-control" placeholder="fullname">
                        </div>
                        <div class="col-12">
                             <label for="email">email</label>
                             <input type="text" name="email"  value="<%= user.email %>" class="form-control" placeholder="email">
                        </div>
                        <div class="col-12">
                             <label for="password">password</label>
                             <input type="password" name="password" class="form-control" placeholder="password">
                        </div>
                        <div class="col-12">
                            <label for="confirm_password">confirm password</label>
                            <input type="password" name="confirm_password" class="form-control" placeholder="confirm password">
                       </div>
                        <div class="col-12">
                            <button type="submit" class="btn btn-dark float-end">Save</button>
                        </div>
                        <hr class="mt-4">
                        <div class="col-12">
                            <p class="text-center mb-0">Have an account? <a href="/auth/login">Sigin</a></p>
                        </div>
                    </form>                                       
                </div>
                <% if (typeof errors !== "undefined") { %>			
                    <div class="alert alert-danger mt-2" role="alert">		    
                        <% errors.forEach(function(error) { %> 				   			
                            <p><%= error.msg %></p>
                        <% }) %>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
    
    <!-- Bootstrap JS -->
    <script src="https://www.markuptag.com/bootstrap/5/js/bootstrap.bundle.min.js"></script>
</body>
</html>



